.footer {
  background-color: var(--bcg-color);
  height: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    height: 252px;
  }
}

.footer-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    //   display: flex;

    justify-content: center;
    text-align: left;
    align-items: initial;
    align-content: baseline;
  }
}

.footer-contacts__list {
  align-items: center;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
  }
}
.footer-contacts__link {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.71px;
  list-style: none;
  font-style: normal;
  text-decoration: none;
}

.footer-contacts__links {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
}

.footer-contacts__address {
  margin-top: 20px;
}

.footer-contacts__item {
  margin-top: 9px;
  text-decoration: none;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;

  @media screen and (min-width: 768px) {
    margin-top: 0px;
  }
  @media screen and (min-width: 1200px) {
    display: inline;
    margin-left: 70px;
    margin-top: 0;
    text-align: left;
  }
}

.footer__title {
  color: var(--primary-white-color);
  height: 16px;
  font-family: var(--primary-fonts);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0px;

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__list {
  display: flex;
  margin-top: 20px;
}

.footer-social__link {
  width: 44px;
  height: 44px;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  :focus {
    background-color: var(--accent-color);
  }
}

.footer-social__icon {
  fill: var(--hover-footer-link-color);
}

.footer-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  // padding-top: 60px;
  margin-top: 60px;

  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    align-items: flex-start;
    justify-content: initial;
    margin-top: 0;
    margin-left: 93px;
  }
}

.footer-box__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    display: inline-flex;
    margin-top: 0;
  }
}

.footer-box__input {
  padding-left: 16px;
  height: 50px;
  max-width: 450px;
  width: 90vw;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  color: var(--primary-white-color);
  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 20px;
    margin-right: 10px;
    width: 358px;
  }
}

.footer-box__icon {
  margin-left: 10px;
}
