:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --button-color: #f5f4fa;
  --bcg-color: #2f303a;
  --logo-black-color: #000000;
  --bcg-for-header: #ececec;
  --link-color: #afb1b8;
  --hover-footer-link-color: #ffffff;
  --primary-fonts: Roboto, sans-serif;
  --logo-fonts: Raleway, sans-serif;
}
